{% extends "contacts/index.html" %}
{% load static %}

{% block content %}

    <h1>File list</h1>
    <div class="file_list_button">
        <a href="{% url 'files:upload_file' %}" role="button">Upload new file</a></br></br>
    </div>

    <div class="list_file">
        {% for file in files %}
            <div class="file">
                <div class="image">
                    {% if file.is_image %}
                        <a href="{% url 'files:view_file' file_id=file.id %}" target="_blank">
                            <img src="{{ file.file.url }}" alt="{{ file.basename }}" style="max-width: 100px; max-height: 100px;">
                        </a>
                    {% else %}
                        <a href="{% url 'files:view_file' file_id=file.id %}" target="_blank">
                            <img src="{% static 'files/icons/' %}{{ file.icon }}" alt="{{ file.basename }}" style="max-width: 100px; max-height: 100px;">
                        </a>
                    {% endif %}
                </div>
                <div class="file_name">Base file name: {{ file.basename }}</div>
                <div class="category">Category: {{ file.category }}</div>
                <a href="{% url 'files:download_file' file_id=file.id %}">Download</a>
                <a href="{% url 'files:view_file' file_id=file.id %}" target="_blank">View</a>
                <a href="{% url 'files:delete_file' file_id=file.id %}" onclick="return confirm('Are you sure you want to delete this file?');">Delete</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}