{% extends "contacts/index.html" %}
{% load static %}

{% block content %}

<a href="{% url 'files:upload_file' %}" role="button">Upload new file</a></br></br>

<!-- <form method="get" action="{#% url 'files:file_list' %#}">
    <select name="category">
        <option value="">All categories</option>
        {#% for category in categories %#}
            <option value="{{ category }}" {#% if category == request.GET.category %}selected{% endif %#}>{{ category }}</option>
        {#% endfor %#}
    </select>
    <button type="submit">Filter</button>
</form> -->

{% for file in files %}
    <div>
        {% if file.is_image %}
            <img src="{{ file.file.url }}" alt="{{ file.basename }}" style="max-width: 100px; max-height: 100px;">
        {% else %}
            <img src="{% static 'files/icons/' %}{{ file.icon }}" alt="{{ file.basename }}" style="max-width: 100px; max-height: 100px;">
        {% endif %}
        <p>{{ file.basename }} - {{ file.category }}</p>
        <a href="{% url 'files:download_file' file_id=file.id %}">Download</a>
        <a href="{% url 'files:view_file' file_id=file.id %}" target="_blank">View</a>
        <a href="{% url 'files:delete_file' file_id=file.id %}">Delete</a>
    </div>
{% endfor %}

{% endblock %}