{% extends "contacts/index.html" %}

{% block content %}


<div>
    <div style="margin-bottom: 5px; border:1px solid #7CA3E6; border-radius: 10px; padding: 5px; margin:bottom 20px" class="title" itemprop="text">
        Exchage rates test page.
    </div>      
    <div>
        <ul>
            <li>
                <uL>25.05.2024:
                    <li>EUR: sale: 43.3 &nbsp;|&nbsp; purchase: 43.3</li>
                    <li>USD: sale: 39.9 &nbsp;|&nbsp; purchase: 39.9</li>
                </uL>
            </li>
        </ul>
    </div>
</div>


{% endblock %}
