{% extends "contacts/index.html" %}

{% block content %}


<div>
    {% for rates in list_rates %}
        <div><h3>{{rates.date}}</h3></div>
        <div>
            {% for rate in rates.rates %}
                <div>{{rate.purchaseRate}} &nbsp; {{rate.currency}} &nbsp; {{rate.saleRate}}</div>
            {% endfor %}
        </div>
    {% endfor %}

    <nav>
        <ul class="pager">
            
            <li class="previous">
                {% if list_rates.has_previous %}
                <a href="?page=1"><span aria-hidden="true">←←</span> First</a>
                <a href="?page={{ list_rates.previous_page_number }}"><span aria-hidden="true">←</span> Previous</a>
                {% endif %}                        
            </li>
            
            <span class="current">
                Page {{ list_rates.number }} of {{ list_rates.paginator.num_pages }}.
            </span>

            <li class="next">
                {% if list_rates.has_next %}
                <a href="?page={{ list_rates.paginator.num_pages }}">Last <span aria-hidden="true">→→</span></a>
                <a href="?page={{ list_rates.next_page_number }}">Next <span aria-hidden="true">→</span></a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>

{% endblock %}
