{% extends "contacts/index.html" %}

{% block content %}

    <h1>News list</h1>

    <div class="news_list_button">
        <a href="{% url 'the_news:fetch_news' %}" role="button">Fetch News</a>
    </div>

    <div class="news_container">
    {% for n in news %}
        <div class="news_item">
            <h4><a href="{% url 'the_news:news_detail' n.id %}">{{ n.title }}</a></h2>
            <div class="description">{{ n.content }}</div>
            <div class="category">Category: {{ n.category }}</div>
            <div class="date">Published: {{ n.published_date }}</div>
        </div>
    {% endfor %}
    </div>

    <nav>
        <ul class="pager">
            
            <li class="previous">
                {% if news.has_previous %}
                <a href="?page=1"><span aria-hidden="true">←←</span> First</a>
                <a href="?page={{ news.previous_page_number }}"><span aria-hidden="true">←</span> Previous</a>
                {% endif %}                        
            </li>
            
            <span class="current">
                Page {{ news.number }} of {{ news.paginator.num_pages }}.
            </span>

            <li class="next">
                {% if news.has_next %}
                <a href="?page={{ news.paginator.num_pages }}">Last <span aria-hidden="true">→→</span></a>
                <a href="?page={{ news.next_page_number }}">Next <span aria-hidden="true">→</span></a>
                {% endif %}
            </li>
        </ul>
    </nav>

{% endblock %}
