{% extends "contacts/index.html" %}

{% block content %}

<form method="get">
    <select name="categories">
        <option value="">All categories</option>
        <option value="general"  {% if selected_category == 'general' %}selected{% endif %}>general</option>
        <option value="business" {% if selected_category == 'business' %}selected{% endif %}>business</option>
        <option value="science"  {% if selected_category == 'science' %}selected{% endif %}>science</option>
        <option value="politics" {% if selected_category == 'politics' %}selected{% endif %}>politics</option>
        <option value="tech"     {% if selected_category == 'tech' %}selected{% endif %}>tech</option>
    </select>
    <button type="submit">Filter</button>
</form>
<!-- <form action="{% url 'the_news:fetch_news' %}" method="post">
    {% csrf_token %}
    <button type="submit">Fetch News</button>
</form> -->
<a href="{% url 'the_news:fetch_news' %}">Fetch News</a>

{% for n in news %}
    <h2><a href="{% url 'the_news:news_detail' n.id %}">{{ n.title }}</a></h2>
    <p>{{ n.content }}</p>
    <p>Category: {{ n.category }}</p>
    <p>Published: {{ n.published_date }}</p>
{% endfor %}

{% endblock %}