{% extends "contacts/index.html" %}

{% block content %}

    <a href="{% url 'the_news:fetch_news' %}" role="button">Fetch News</a>

    {% for n in news %}
        <h2><a href="{% url 'the_news:news_detail' n.id %}">{{ n.title }}</a></h2>
        <p>{{ n.content }}</p>
        <p>Category: {{ n.category }}</p>
        <p>Published: {{ n.published_date }}</p>
    {% endfor %}

    <nav>
        <ul class="pager">
            
            <li class="previous">
                {% if news.has_previous %}
                <a href="?page=1"><span aria-hidden="true">←←</span> First</a>
                <a href="?page={{ news.previous_page_number }}"><span aria-hidden="true">←</span> Previous</a>
                {% endif %}                        
            </li>
            
            <span class="current">
                Page {{ news.number }} of {{ news.paginator.num_pages }}.
            </span>

            <li class="next">
                {% if news.has_next %}
                <a href="?page={{ news.paginator.num_pages }}">Last <span aria-hidden="true">→→</span></a>
                <a href="?page={{ news.next_page_number }}">Next <span aria-hidden="true">→</span></a>
                {% endif %}
            </li>
        </ul>
    </nav>

{% endblock %}