{% extends "contacts/index.html" %}

{% block content %}

<h1>Tags</h1>
<div class="tags_list_button">
    <a href="{% url 'notes:tag' %}" role="button">Add new tag</a>
</div>

{% for tag in tags %}
<div style="width:350px;">
    <div style="margin-bottom: 5px; border:1px solid hsl(149, 68%, 69%); border-radius: 10px; padding: 5px; margin:bottom 20px" class="title" itemprop="text">
        {{ tag.name }} &nbsp;<a href="{% url 'notes:updatet' tag.id %}">edit</a>
    </div>      
</div>
{% endfor %}   

{% endblock %}
