{% extends "contacts/base.html" %}

{% block content %}        

<div class="row">
    <div class="col-md-8">
        {% if weather %}
            <div class="received_notes">{{weather}}</div>
        {% endif %} 

        {% for item in weather %}
        <div class="weather" itemscope="" itemtype="http://schema.org/CreativeWork">
            <div class="title" itemprop="cur_day">{{ weather.cur_day }}</div>
            <div class="text" itemprop="min_temperature">{{ weather.min_temperature }}</div>
            <div class="text" itemprop="max_temperature">{{ weather.max_temperature }}</div>

<!--            <div class="tags">-->
<!--                <meta class="keywords" itemprop="keywords" content="simplicity,understand"> -->
<!--                Tags: -->
<!--                {% load extract_tags %}-->
<!--                {% for tag in note.tags|tags %}-->
<!--                    <a class="tag" href="{% url 'notes:notes' %}?tag_id={{tag.id}}">{{tag.name}}</a>-->
<!--                {% endfor %}-->
<!--                {#% if user.is_authenticated and user.is_superuser %#}-->
<!--                {% if user.is_authenticated %}-->
<!--                <a href="{% url 'notes:delete' note.id %}" role="button" style="color:rgb(255, 0, 0)"> X </a>-->
<!--                {% endif %} -->
<!--                {% if user.is_authenticated %}-->
<!--                <a href="{% url 'notes:update' note.id %}" role="button" style="color:rgb(0, 255, 60)"> U </a>-->
<!--                {% endif %}                 -->
<!--            </div>-->
        </div>
        {% endfor %}       

<!--        <nav>-->
<!--            <ul class="pager">-->
<!--                -->
<!--                <li class="previous">-->
<!--                    {% if notes.has_previous %}-->
<!--                    <a href="?page=1"><span aria-hidden="true">←←</span> First</a>-->
<!--                    <a href="?page={{ notes.previous_page_number }}"><span aria-hidden="true">←</span> Previous</a>-->
<!--                    {% endif %}                        -->
<!--                </li>-->
<!--                -->
<!--                <span class="current">-->
<!--                    Page {{ notes.number }} of {{ notes.paginator.num_pages }}.-->
<!--                </span>-->

<!--                <li class="next">-->
<!--                    {% if notes.has_next %}-->
<!--                    <a href="?page={{ notes.paginator.num_pages }}">Last <span aria-hidden="true">→→</span></a>-->
<!--                    <a href="?page={{ notes.next_page_number }}">Next <span aria-hidden="true">→</span></a>-->
<!--                    {% endif %}-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
    </div>

<!--    <div class="col-md-4 tags-box">-->
<!--        <div class="top_ten_tags">-->
<!--            <h2>Top Ten tags</h2>-->
<!--            {% for tag in most_used_tags %}-->
<!--                <span class="tag-item">-->
<!--                    <a class="tag" style="font-size: {{ tag_size_block|slice:forloop.counter|last }}px" href="{% url 'notes:notes' %}?tag_id={{tag.id}}">{{ tag.name }}</a> ({{ tag.num_notes }} notes)-->
<!--                </span>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    </div>-->
</div>

{% endblock %}
