<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Personal assistant</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contacts/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'contacts/main.css' %}">
</head>
<body>

    <div class="container">
        <div class="row header-box">
            <div class="col-md-3">
                <h1> Main page
                    <!-- <a href="/" style="text-decoration: none">Quotes</a> -->
                </h1>
            </div>
            <div class="col-md-9">

                <div class="per-assist-menu-container">
                    {% if user.is_authenticated %}
                    <div class="per-assist-menu">
                        <div class="user-menu">
                            <ul>
                                <li><a href="{% url 'notes:notes' %}" role="button">Notes</a></li>
                                <li><a href="{% url 'notes:note' %}" role="button">Add note</a></li>
                                <li><a href="{% url 'notes:tag' %}" role="button">Add tag</a></li>
                            </ul>
                        </div>
                        <div class="user-login-menu">
                            <ul>
                                <li>Welcome <b>{{ user.username }}!</b></li>
                                <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="per-assist-menu">
                        <ul>
                            <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
                            <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
                        </ul>
                    </div>
                    {% endif %}
                    {% if request_path == "/contacts/" %}
                    <div class="upcoming-birthdays">
                        <h3>Upcoming Birthdays</h3>
                        <form method="GET" action="{% url 'contacts:contact_book' %}">
                            {{ days_ahead_form.as_p }}
                            <button type="submit" class="btn btn-primary">Check</button>
                        </form>
                        <ul>
                            {% for contact in upcoming_birthdays %}
                                <li>{{ contact.name }} {{ contact.surname }} - {{ contact.birthday }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                </div>     

            </div>
        </div>          

        <div class="row">
            <div class="col-md-8">
                Contant of main page
                {% block content %} {% endblock %}





            
            </div>



            <div class="col-md-4 tags-box">
                <div class="top_ten_tags">
                    <h2>Sort by tags</h2>
                    {% for tag in most_used_tags %}
                        <span class="tag-item">
                            <a class="tag" style="font-size: {{ tag_size_block|slice:forloop.counter|last }}px" href="{% url 'contacts:main' %}?tag_id={{tag.id}}">{{ tag.name }}</a> ({{ tag.num_quotes }} quotes)
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="copyright">
                Made by <span class="zyte">Pythonic wizards team</span>
            </p>
        </div>
    </footer>

    <div id="gadsf21g"></div><div at-magnifier-wrapper=""><div class="at-theme-light"><div class="at-base notranslate" translate="no"><div class="EuwGd" style="top: 0px; left: 0px;"></div></div></div></div>

</body>
</html>
