{% extends "contacts/base.html" %}

{% block title %}Contact Search{% endblock %}

{% block content %}
<nav>
    <a href="{% url 'contacts:main' %}">Back</a>
</nav>
    <h1>Contact Search</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    {% if contacts %}
        <h2>Search Results:</h2>
        <ul>
        {% for contact in contacts %}
            <li>{{ contact.name }} {{ contact.surname }} - {{ contact.phone }} - {{ contact.email }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
