/* Custom page CSS */
body {
  font-family: sans-serif;
}

.container{
  margin-bottom: 100px;
}

.container .text-muted {
  margin: 20px 0;
}

.tags-box, .scrapy-box {
  text-align: left;
}

.tags-box h2, .scrapy-box h2 {
  margin-top: 0px;
}

.scrapy-box {
  margin-bottom: 35px;
}

.tag-item, .scrapy-item {
  display: block;
  margin: 4px;
}

.per_assist {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #333333;
}

.per_assist small.author {
  font-weight: bold;
  color: #3677E8;
}

.per_assist span.text {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-style: italic;
}

.per_assist .tags {
  margin-top: 10px;
}

.tag {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  background-color: #7CA3E6;
}

.scrapy {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  background-color: #7CA3E6;
}

a.tag:hover, a.scrapy:hover {
  text-decoration: none;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 6em;
  background-color: #f5f5f5;
}

.error {
  color: red;
}

.header-box {
  padding-bottom: 40px;
}

.header-box p {
  margin-top: 30px;
  float: right;
}

.author-details  {
  width: 80%;
}

.author-description {
  text-align: justify;
  margin-bottom: 20px;
}

ul.pager {
  margin-bottom: 100px;
}

.copyright {
  text-align: center;
}

.copy {
  color: #b02cce;
}

 .per-assist-menu {
  display: flex;
  padding-top: 35px ;
}

.per-assist-menu ul li {
  display: inline;
  width: 45px;
}

.per-assist-menu a{
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.per-assist-menu .user-menu{
  /* width: 60%; */
  text-align: left;
}

.per-assist-menu .user-login-menu{
  width: 40%;
  text-align: right;
}
